pipeline/Api_Call.json
{
	"name": "Api_Call",
	"properties": {
		"activities": [
			{
				"name": "SetApi",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "api",
					"value": {
						"value": "@concat('https://datausa.io/api/data?drilldowns=Nation&measures=Population&year=', string('2020'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CallApi",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetApi",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('api')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "CallApi",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "outputArray",
					"value": {
						"value": "@activity('CallApi').output.pipelineReturnValue",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"api": {
				"type": "String"
			},
			"outputArray": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "PARTIAL_PIPELINES"
		},
		"annotations": []
	}
}